
APP_PORT=5001


# Database Configuration
DB_TYPE=postgresql
DB_HOST=database_url
DB_PORT=database_port
DB_USERNAME=secret
DB_PASSWORD=secret
DB_DATABASE=secret

# Logging Configuration
LOG_LEVEL=DEBUG
LOG_TZ=Asia/Shanghai
LOG_FILE=/app/api/storage/logs/app.log
LOG_FILE_MAX_SIZE=20
LOG_FILE_BACKUP_COUNT=5
