
APP_PORT=5001


# Database Configuration
DB_TYPE=postgresql
DB_HOST=211.90.240.240
DB_PORT=30012
DB_USERNAME=cdss_flow
DB_PASSWORD=cdss_flow
DB_DATABASE=cdss_flow

# RAG Configuration
RAG_ENABLED=true
RAG_OPENAI_BASE_URL=http://211.90.240.240:30001/v1
RAG_OPENAI_API_KEY=gpustack_38c96845783fb0a0_9ffe4c8351f12c98765937f800e9a4e5
RAG_EMBEDDING_MODEL=bge-m3
RAG_MODEL_NAME=Qwen3-30B-A3B-GPTQ-Int4
RAG_VECTOR_TABLE=t_cdss_flow_document_vector
RAG_TOP_K=4

# Logging Configuration
LOG_LEVEL=DEBUG
LOG_TZ=Asia/Shanghai
LOG_FILE=/app/api/storage/logs/app.log
LOG_FILE_MAX_SIZE=20
LOG_FILE_BACKUP_COUNT=5
